<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <servlet>
    <servlet-name>ls</servlet-name>
    <servlet-class>it.view</servlet-class>
    <init-param>
      <param-name>cmd</param-name>
      <param-value>ls</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ls</servlet-name>
    <url-pattern>/ls/</url-pattern>
  </servlet-mapping>
</web-app>
